html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
  box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

html {
  position: relative;
  min-height: 100%;
}

body {
    margin-bottom: 10px;
    background-color: #FFF7E0;
}

.bg_custom{
        background-color: #FFF7E0;
}

.paragraph-highlight{
    font-family: 'Roboto', Arial, sans-serif;
    font-weight: 500;
    font-size: 16px;
    color: #363D59;
}

.paragraph{
    font-family: 'Roboto', Arial, sans-serif;
    font-weight: 300;
    font-size: 16px;
    color: #363D59;
}

.heading{
  font-family:'Damion', 'Roboto', Arial, sans-serif;
  font-weight: 300;
  font-size: 96px;
  color: #363D59;
}

.subtitle{
  font-size: 48px;
  color: #FFF7E0;
  font-family: 'Dangrek', 'Roboto', Arial, sans-serif;
  font-weight: 400;
}

.subtitle-light{
  font-family:'Roboto', Arial, sans-serif;
  font-weight:250;
  font-size: 36px;
  color: #221F2F;
  word-wrap: break-word;
  max-width: 425px;

}

.text-section {
  max-width: 50%;
  margin: 24px;
  margin-top: 64px
}

.home-illustration {
  max-width: 673px;
  width: 100%;
  height: auto;
}

.projects-button{
  background-color: #221F2F;
  border-radius: 24px;
  width: 350px;
  height: 48px;
}

.projects-button-text {
  filter: drop-shadow(0 2px 4px rgba(255, 242, 204, 0.62));
  color: #FFEBB0;
  font-family: 'Roboto', Arial, sans-serif;
  font-weight: 600;
  font-size: 24px;
}

.connect-button{
  background: none;
  color: #221F2F;
  font-family: 'Roboto', Arial, sans-serif;
  font-weight: 400;
  font-size: 16px;
  text-decoration-line: underline;
  border:none;
}

.social-links {
  display: flex;
  justify-content: start; 
  align-items: center;
  margin-top: 72px;
}

.logo {
  width: 72px;
  height: 72px;
  margin: 32px; 
}

